.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-container {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.contact-container .contact-heading {
    font-size: 70px;
    font-weight: bolder;
}
.contact-container .contact {
    margin: 20px;
}
.mail, .phone, .address {
    padding: 10px;
    font-size: 20px;
}
