.container .navbar {
    width: 15%;
    display: flex;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-items {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #76d9c2;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.navbar-items:hover {
    background-color: #37d4b0;
}

.navbar-items i {
    font-size: 25px;
    color: white;
}

.navbar-items-text {
    display: none;
}