.container {
    display: flex;
    min-height: 100vh;
}
.project-desc-container .project-desc-tile {
    width: 100%;
    border-radius: 10px;
    margin-left: 70px;
    margin-right: 100px;
    box-shadow: 0px 0px 10px 2px #8583834d;
}
.project-desc-container {
    display: flex;
    align-items: center;
}
.project-desc-tile .project-desc {
    padding: 20px;
}
.project-title h3 {
    font-size: 50px;
    margin-bottom: 15px;
}
.project-details p {
    margin-left: 10px;
}
